* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.shopping-box {
  background-color: beige;
  padding: 20px;
}

.shopping-container {
  width: 90%;
  display: flex;
  margin: auto;
}

.overlay {
  position: absolute;
  background-color: black;
  opacity: 1;
}

.shopping-item {
  width: 33%;
  padding: 10px;
}

.shopping-item img {
  width: 100%;
}
